Repository rexor12/holobot, pull requests merged in 2022-09, with the labels that each got.

#191 Refactors
  holobot/__main__.py
  holobot/discord/actions/action_processor.py
  holobot/discord/events/interaction_created_event_listener.py
  holobot/discord/messaging.py
  holobot/discord/sdk/actions/content_changing_action_base.py
  holobot/discord/sdk/imessaging.py
  holobot/discord/sdk/workflows/interactables/components/__init__.py
  holobot/discord/sdk/workflows/interactables/components/interactable_layout_base.py
  holobot/discord/sdk/workflows/interactables/components/layout_base.py
  holobot/discord/sdk/workflows/interactables/components/stack_layout.py
  holobot/discord/sdk/workflows/workflow_base.py
  holobot/discord/servers/managers/channel_manager.py
  holobot/discord/servers/member_data_provider.py
  holobot/discord/workflows/processors/command_processor.py
  holobot/discord/workflows/processors/menu_item_processor.py
  holobot/discord/workflows/transformers/component_transformer.py
  holobot/discord/workflows/transformers/icomponent_transformer.py
  holobot/discord/workflows/workflow_registry.py
  holobot/extensions/admin/command_registry.py
  holobot/extensions/admin/models/command_rule.py
  holobot/extensions/admin/workflows/view_command_rules_workflow.py
  holobot/extensions/crypto/workflows/view_alarms_workflow.py
  holobot/extensions/dev/workflows/show_available_servers_workflow.py
  holobot/extensions/giveaways/workflows/view_active_giveaways_workflow.py
  holobot/extensions/google/google_client.py
  holobot/extensions/moderation/workflows/view_user_permissions_workflow.py
  holobot/extensions/moderation/workflows/view_warn_strikes_workflow.py
  holobot/extensions/reminders/workflows/view_reminders_workflow.py
  holobot/extensions/todo_lists/workflows/view_todo_items_workflow.py
  holobot/extensions/weather/models/weather_data.py
  holobot/extensions/weather/weather_client.py
  holobot/framework/configs/configurator.py
  holobot/framework/logging/processors/ignore_loggers_by_name.py
  holobot/framework/network/http_client_pool.py
  holobot/sdk/chrono/interval_parser.py
  holobot/sdk/network/exceptions/header_utils.py
  holobot/sdk/utils/dataclass_utils.py
Labels: technical

#195 Fix datetimes to use the correct timezone info
  holobot/extensions/reminders/models/reminder.py
  holobot/extensions/reminders/reminder_manager.py
  holobot/extensions/reminders/reminder_processor.py
Labels: bug/bugfix, component: extension

#193 Fix bug caused by #191
  holobot/sdk/utils/dataclass_utils.py
Labels: bug/bugfix

#196 Add usual error handling for user data retrieval
  holobot/extensions/general/workflows/react_workflow.py
  resources/i18n/default.json
Labels: bug/bugfix, component: extension

#200 Update Python runtime
  runtime.txt
Labels: devops

#202 Small improvements
  holobot/discord/data_providers/emoji_data_provider.py
  holobot/discord/sdk/workflows/interactables/command.py
  holobot/discord/sdk/workflows/interactables/component.py
  holobot/discord/sdk/workflows/interactables/menu_item.py
  holobot/discord/servers/managers/user_manager.py
  holobot/discord/workflows/events/interactable_processed_event_listener.py
  holobot/discord/workflows/rules/is_interactable_on_cooldown_rule.py
  holobot/discord/workflows/workflow_registry.py
  holobot/extensions/admin/models/command_rule.py
  holobot/extensions/crypto/crypto_updater.py
  holobot/extensions/crypto/enums/frequency_type.py
  holobot/extensions/crypto/enums/price_direction.py
  holobot/extensions/general/providers/reaction_provider.py
  holobot/extensions/general/workflows/view_user_avatar_workflow.py
  holobot/extensions/giveaways/scraper_runner.py
  holobot/extensions/giveaways/scrapers/epic_games_scraper.py
  holobot/extensions/moderation/managers/log_manager.py
  holobot/extensions/moderation/models/log_settings.py
  holobot/extensions/moderation/models/user.py
  holobot/extensions/moderation/models/warn_settings.py
  holobot/extensions/moderation/models/warn_strike.py
  holobot/extensions/moderation/workflows/interactables/moderation_command.py
  holobot/extensions/moderation/workflows/interactables/moderation_component.py
  holobot/extensions/moderation/workflows/interactables/moderation_interactable_mixin.py
  holobot/extensions/moderation/workflows/interactables/moderation_menu_item.py
  holobot/extensions/reminders/models/reminder.py
  holobot/extensions/reminders/reminder_manager.py
  holobot/extensions/reminders/reminder_processor.py
  holobot/extensions/reminders/workflows/set_reminder_workflow.py
  holobot/extensions/todo_lists/models/todo_item.py
  holobot/sdk/database/repositories/repository_base.py
  holobot/sdk/database/statuses/command_complete.py
  holobot/sdk/database/statuses/command_tags/command_tag.py
  holobot/sdk/database/statuses/command_tags/delete_command_tag.py
  holobot/sdk/database/statuses/command_tags/insert_command_tag.py
  holobot/sdk/database/statuses/command_tags/update_command_tag.py
  holobot/sdk/network/resilience/async_rate_limiter.py
  holobot/sdk/serialization/json_serializer.py
  holobot/sdk/utils/__init__.py
  holobot/sdk/utils/dataclass_utils.py
  holobot/sdk/utils/datetime_utils.py
Labels: technical

#205 Handle i18n resolution errors by logging them
  holobot/framework/i18n/i18n_provider.py
  resources/i18n/default.json
Labels: bug/bugfix, component: framework

#207 Consider context data in cooldown entity IDs
  holobot/discord/workflows/events/interactable_processed_event_listener.py
  holobot/discord/workflows/invocation_tracker.py
  holobot/discord/workflows/rules/is_interactable_on_cooldown_rule.py
  holobot/discord/workflows/utils/__init__.py
  holobot/discord/workflows/utils/invocation_utils.py
Labels: bug/bugfix, component: discord

#208 Carry forward develop/3.3.2
  VERSION
  holobot/discord/workflows/events/interactable_processed_event_listener.py
  holobot/discord/workflows/invocation_tracker.py
  holobot/discord/workflows/rules/is_interactable_on_cooldown_rule.py
  holobot/discord/workflows/utils/__init__.py
  holobot/discord/workflows/utils/invocation_utils.py
  holobot/framework/i18n/i18n_provider.py
  resources/i18n/default.json
Labels: technical

#213 Change the reminder message to be optional
  config.json
  holobot/discord/messaging.py
  holobot/extensions/reminders/database/reminder_migration.py
  holobot/extensions/reminders/models/reminder.py
  holobot/extensions/reminders/models/reminder_config.py
  holobot/extensions/reminders/reminder_manager.py
  holobot/extensions/reminders/reminder_processor.py
  holobot/extensions/reminders/repositories/records/reminder_record.py
  holobot/extensions/reminders/workflows/set_reminder_workflow.py
  holobot/extensions/reminders/workflows/view_reminders_workflow.py
  resources/i18n/default.json
Labels: component: extension, feature request
